<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="../../style/screen.css" type="text/css"/>
    <link rel="shortcut icon" href="../../style/favicon.ico">
  <title>{{title}}</title>
</head>
<body>

<!--
	<h2><span class='docid'> <a href="bydate?descending=true">&#x2672;</a></span> Scrumptious Bookmarks in CouchDB</h2>
-->
<h2><span class='docid'> <a href="all?limit=20">&#x2672;</a></span> Scrumptious Bookmarks in CouchDB</h2>
	

<ul id='listall'>
