{{>header}}

<h2>
	<span class='docid'><a href="{{listall}}">&#x2672;</a></span>
	<a href="{{url}}">&gt;</a> <span id='edittitle'>{{title}}</span>
</h2>


<div id="bookmark">
	<div class="tags">
	{{%IMPLICIT-ITERATOR iterator=tag}}
	  <div class="tagslist">
	    <ul class="tagchain">
	    {{#tags}}
	  	<li><a href='{{bytag}}?key="{{tag}}"'><span class="tagitem">{{tag}}</span></a></li>
	    {{/tags}}
	    </ul>
	  </div>
  <div class="date">{{date}}</div>
	</div>

  <div class="desc"><p id='editdesc'>{{description}}</p>
    <div id="deletedoc"><a href="#">(delete bookmark)</a></div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function() {

	var id = '{{_id}}';
	$db = $.couch.db('{{dbname}}');

	$("#deletedoc").click(function() { 
		$db.openDoc(id, {
			success: function(doc) {  
			       $db.removeDoc(doc, { success: function() {
					window.location.href = '{{listall}}';
					}});
				}
			});
	});

	function updatedoc(id, field, value)
	{
		$db.openDoc(id, {
			success: function(doc) {
					doc[field] = value;
					$db.saveDoc(doc);
				 }
		});
	}

	// EDITS
	$("#edittitle").editInPlace({
		callback: function(unused, intext) {
				updatedoc(id, 'title', intext);
				return intext;
			  },
		show_buttons: false,
		bg_over: "#79aad2",
	});

	$("#editdesc").editInPlace({
		callback: function(unused, intext) {
				updatedoc(id, 'description', intext);
				return intext;
			},
		bg_over: "#79aad2",
		field_type: "textarea",
		textarea_rows: "15",
		textarea_cols: "35",
		show_buttons: false,
	});
});
</script>

{{>footer}}
